<template>
  <div class="home">
    <ul :class="{ hide: !img }" class="toolbar fade-in">
      <li v-for="tool in tools" @click.stop="setTool(tool)">
        <i class="material-icons" v-html="tool.icon"></i>
      </li>
    </ul>
    <div id="viewport">
      <form v-if="!img" @submit.prevent="upload" class="upload">
        <input type="text" v-model="url" placeholder="https://www.">
      </form>
      <v-canvas v-if="img" :img="img" :tool="tool" />
    </div>
  </div>
</template>

<script>
import Tools from '../tools'
import VCanvas from './VCanvas'

const tools = {
  crop: Tools.crop(),
  picker: Tools.picker()
}

export default {
  name: 'home',
  components: {
    VCanvas
  },
  data () {
    return {
      url: 'https://picsum.photos/600/400/?random',
      img: null,
      tools,
      tool: null
    }
  },
  created () {
    this.tool = this.tools.crop
    const url = this.$route.query.url
    if (url) {
      this.setImg(url)
    }
  },
  methods: {
    setImg (src) {
      const img = new Image()
      img.src = src
      console.log('Getting image', src)
      img.onload = (e) => {
        this.img = img
        console.log('Image loaded', this.img)
        this.loading = false
      }
    },
    setTool (tool) {
      return this.tool = tool // eslint-disable-line no-return-assign
    },
    upload (e) {
      this.$router.push({path: '/', query: { url: this.url }})
      this.setImg(this.url)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.home {
  display: flex;
  height: calc(100vh - 65px);
  #viewport {
    flex: 1;
    position: relative;
    padding: 0 1rem;
    .upload {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translate(-50%, 0);
      input {
        width: 400px;
        padding: .25rem;
        font-size: 1rem;
      }
    }
  }
}
</style>
