<template>
  <header class="navbar">
    <nav class="container">
      <slot></slot>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'navbar'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.navbar {
  a {
    text-decoration: none;
    color: #333;
  }
  color: #333;
  

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  background: #fff;
  ul {
    margin: 0;
    li {
      padding: 1rem;
    }
  }
}
</style>
