<template>
  <div class="styleguide">
    <h1>Styleguide</h1>
    <h2>Typography</h2>
    <h3>Headings</h3>
    <h1>Heading H1</h1>
    <h2>Heading H2</h2>
    <h3>Heading H3</h3>
    <h4>Heading H4</h4>
    <h5>Heading H5</h5>
    <h6>Heading H6</h6>
    <h3>Display headings</h3>
    <h1 class="display-1">Display 1</h1>
    <h1 class="display-2">Display 2</h1>
    <h1 class="display-3">Display 3</h1>
    <h3>Body copy</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <h3>Lead body copy</h3>
    <p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3>Blockquotes</h3>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <cite>Someone famous</cite>
    </blockquote>
    <h3>Lists</h3>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
    <h3>List inline</h3>
    <ul class="list-inline">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
    <h2>Components</h2>
    <h3>Navigation</h3>
    <navbar>
      <ul class="list-inline">
        <li>
          <a href="#">Logo</a>
        </li>
      </ul>
      <ul class="list-inline right">
        <li>
          <a href="#">Link 1</a>
        </li>
        <li>
          <a href="#">Link 2</a>
        </li>
      </ul>
    </navbar>
    <h3>Tables</h3>
    <v-table :data="table" />
    <h3>Images</h3>
    <figure>
      <img src="https://picsum.photos/600/200?random" alt="">
      <figcaption>Image caption</figcaption>
    </figure>
    <h3>Inline code</h3>
    <p>This is a <code>&lt;snippet></code> of code</p>
    <h3>Block code</h3>
    <pre>&lt;html>
    &nbsp;&nbsp;&lt;head>&lt;/head>
    &nbsp;&nbsp;&lt;body>
    &nbsp;&nbsp;&nbsp;&nbsp;...
    &nbsp;&nbsp;&lt;/body>
    &lt;/html></pre>
  </div>
</template>

<script>
import Navbar from './Navbar'
import VTable from './VTable'

const table = [
  {
    id: 0,
    name: 'John',
    age: 26,
    location: 'Copenhagen'
  },
  {
    id: 1,
    name: 'Jane',
    age: 18,
    location: 'Stockholm'
  },
  {
    id: 2,
    name: 'Alice',
    age: 37,
    location: 'London'
  },
  {
    id: 3,
    name: 'Bob',
    age: 42,
    location: 'Paris'
  }
]
export default {
  name: 'styleguide',
  components: {
    Navbar,
    VTable
  },
  data () {
    return {
      table
    }
  }
}
</script>

<style lang="scss">
</style>
