<template>
    <canvas ref="canvas" @mousedown="mousedown" @mouseup="mouseup" :class="{ hide: transition }" class="fade-in"></canvas>
</template>

<script>
export default {
  name: 'home',
  props: ['tool', 'img'],
  data () {
    return {
      url: 'https://picsum.photos/2000/1200/?image=420',
      transition: true,
      c: null
    }
  },
  mounted () {
    this.init()
    this.transition = false
  },
  methods: {
    init () {
      this.canvas = this.$refs.canvas
      this.c = this.canvas.getContext('2d')
      const { width, height } = this.img
      this.canvas.width = width
      this.canvas.height = height
      // this.resize()
      this.draw(this.img, 0, 0, width, height)
    },
    resize () {
      const viewport = document.querySelector('#viewport')
      const box = viewport.getBoundingClientRect()
      const img = this.img
      const imgAspect = img.width / img.height
      const boxAspect = box.width / box.height
      this.canvas.width = `${Math.floor(img.width)}`
      this.canvas.height = `${Math.floor(img.height)}`
      if (imgAspect > boxAspect) {
        // console.log('More than, set width')
        this.canvas.style.width = `100%`
      } else {
        // console.log('Less than, set height')
        this.canvas.style.width = `${Math.floor(box.height * imgAspect)}px`
        this.canvas.style.height = `${Math.floor(box.height)}px`
      }
      // console.log('Aspect ratio', imgAspect, boxAspect, imgAspect / boxAspect)
      // console.log('Img', img.width, img.height, img.width / img.height)
      // console.log('Box', box.width, box.height, box.width / box.height)
    },
    draw (img, x, y, width, height) {
      // console.log('draw', img, x, y, width, height)
      this.c.drawImage(img, x, y, width, height)
    },
    mousedown (e) {
      return this.tool.down(e)
    },
    mouseup (e) {
      return this.tool.up(e)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  background: #fff;
}
</style>
