<template>
  <table class="table" v-if="table">
    <thead>
      <tr>
        <th v-for="key in Object.keys(table[0])" @click="order(data, key)">
          {{ key }}
          <i class="material-icons right" :style="{visibility: key === sort ? 'visible' : 'hidden'}">
            {{`${reverse ? '&#xE5C7;' : '&#xE5C5;'}`}}
          </i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in table">
        <td v-for="value in Object.values(row)">
          {{ value }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'table',
  props: ['data'],
  data () {
    return {
      sort: '',
      reverse: false,
      table: null
    }
  },
  created () {
    this.table = this.data
  },
  methods: {
    sortTable (data, col, reverse = false) {
      return data.sort((a, b) => {
        if (a[col] < b[col]) return reverse ? 1 : -1
        if (a[col] > b[col]) return reverse ? -1 : 1
        return 0
      })
    },
    order (data, key) {
      let reverse = false
      if (key === this.sort) {
        reverse = !this.reverse
      }
      this.table = this.sortTable(data, key, reverse)
      this.sort = key
      this.reverse = reverse
    }
  }
}
</script>

<style lang="scss">
table {
  thead {
    tr {
      th {
        cursor: pointer;
      }
    }
  }
}
</style>
