<template>
  <div id="app">
    <navbar>
      <ul class="list-inline">
        <li>
          <i class="material-icons">&#xE410;</i>
        </li>
      </ul>
      <ul class="list-inline right">
        <li>
          <a href="https://gitlab.com/eremt/img">Gitlab</a>
        </li>
      </ul>
    </navbar>
    <main>
      <router-view class="container"></router-view>
    </main>
  </div>
</template>

<script>
import Navbar from './components/Navbar'

export default {
  name: 'app',
  components: {
    Navbar
  },
  mounted () {
    console.log(this.$router)
  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./scss/style";
html, body, #app {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
}
#app {
  overflow: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.navbar {
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  ul {
    li {
      cursor: pointer;
    }
  }
}
.fade-in {
  transition: opacity 1s ease, transform .75s ease-out;
  transform: none;
  visibility: visible;
  opacity: 1;
  &.hide {
    transform: scale(.9);
    visibility: hidden;
    opacity: 0;
  }
}
.toolbar {
  display: inline-block;
  border: 1px solid #e2e2e2;
  background: #fff;
  li {
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background: #f2f2f2;
    }
  }
}
</style>
