table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background: $bglight;
    font-weight: 600;
    text-align: left;
    tr {
      th {
        text-transform: capitalize;
      }
    }
  }
  tr {
    border-bottom: 1px solid $borderlight;
    &:nth-child(even) {
    }
    th ,td {
      padding: .5rem;
    }
    th {

    }
    td {

    }
  }
}
img, video {
  width: 100%;
}
figure {
  margin-bottom: 1rem;
}
