body {
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6,
p, blockquote, ul {
  margin-bottom: 1rem;
}
p.lead {
  font-size: 1.25rem;
}
small {
  font-size: 80%;
}

.display-1 {
  font-size: 5.5rem;
}
.display-1 {
  font-size: 4.5rem;
}
.display-1 {
  font-size: 3.5rem;
}
blockquote {
  cite {
    display: inline-block;
    vertical-align: bottom;
    &:before {
      margin-right: .5rem;
      content: "-";
    }
  }
}
pre, code {
  font-family: monospace;
  background: $bgdark;
  color: #fff;
}
pre {
  padding: .5em;
}
